@import '../../styles/index.scss';

.container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .cartIcon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .itemCount {
    position: absolute;
    font-size: .7rem;
    bottom: 1px;
  }
}