@import '../../styles/index.scss';

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 3rem;
  font-family: $primaryFont;

  .signIn {
    display: flex;
    justify-content: flex-start;
  }

  .signUp {
    display: flex;
    justify-content: flex-start;
  }
}