.quantityContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .image {
    height: 10rem;
    width: 8rem;
  }
}