// Font
$primaryFont: 'Oswald', sans-serif;
$fontBold: 600;
$fontRegular: 400;

// Color
$white: #fff;
$black: #000;
$primaryBlack: #161616;
$defaultPageBackground: #c9c9c9;
$google-button: #1677ff;
$google-button-hover: #0e66e0;

// Resolution
$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 426px;