@import '../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.6rem;
  width: 40rem;
  font-size: 1rem;

  .formContainer .formButtons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    .btn {
      @include button;
    }

    .googleBtn {
      @include button;
      background-color: $google-button;

      &:hover {
        background-color: $google-button-hover;
      }
    }
  }

  @include desktop {
    width: 25rem;
  }
}