@import '../../styles/index.scss';

.container {
  padding: 5rem;
  padding-top: 0;

  .table {
    height: calc(100vh - 18rem);
    overflow-y: scroll;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .total {
      text-align: end;
      font-size: 1rem;
      font-weight: bold
    }

    .checkoutBtn {
      @include button;
      width: 15rem;
      margin: 1rem
    }
  }
}